<mat-card class="col-md-11" style="max-width: 96.666667%;margin: 20px;">
  <div>
    <form [formGroup]="userRoleForm" (ngSubmit)="searchUserName()">
      <div style="display: inline-flex;" class="col-md-12">
        <div style="display: inline-flex;">
          <label class="searchForm-label" style="margin-right: 7px;width: 200px;">Email ID</label>
          <input formControlName="emailId" class="form-control" placeholder="Enter email ID">
        </div>
        <div style="display: inline-flex;">
          <button type="submit" class="userRoleBtns">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button type="reset" (click)="resetForm()" class="userRoleBtns">
            <i class="fa fa-repeat" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
    <form [formGroup]="updateRoleForm" (ngSubmit)="updateRoles()" style="margin-top: 20px;">
      <div style="display: inline-flex; padding-left: 15px;">
        <label class="searchForm-label" style="margin-right: 7px;width:200px;">User Name</label>
        <input type="text" disabled formControlName="userName" class="form-control" value={{username}}
          style="text-transform: capitalize">
      </div>
      <br />
      <div style="display: inline-flex; margin-top: 20px;padding-left: 15px;">
        <div>
          <label class="searchForm-label space" style="margin-right:7px;width:95px;">Roles</label>
        </div>
        <div style="margin-left: 40px;">
          <mat-checkbox formControlName="donor" [(ngModel)]="donor_checked">Donor</mat-checkbox>
          <br />
          <mat-checkbox formControlName="approver" [(ngModel)]="approver_checked">Approver</mat-checkbox>
          <br />
          <mat-checkbox formControlName="treasury" [(ngModel)]="treasury_checked">Treasury</mat-checkbox>
          <br />
          <mat-checkbox formControlName="admin" [(ngModel)]="admin_checked">Admin</mat-checkbox>
        </div>
      </div>
      <br />
      <div style="display: inline-flex; margin-top: 10px;margin-left: 13%;" class="form-group">
        <button mat-raised-button type="submit" class="submitFormBtn" [disabled]="userRoleForm.pristine || userRoleForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </div>
</mat-card>