<header>
    <nav class="navbar fixed-top" id="navBar">
        <mat-toolbar class="toolbar">
            <div style="width: 100%">
                <img src="/assets/images/World_bank_group_logo.PNG" alt="The World Bank"
                    style="height: 30px; width:160px; margin-bottom: 5px;">

                <button [class.hidden]="checkAccess('admin')" routerLink="/admin" mat-button cdkFocusInitial style="padding-bottom: 4px;
                    color: white;
                    font-size: 14px;
                    padding-right: 20px;
                    padding-left: 31px;">Admin</button>


                <button [class.hidden]="checkAccess('WBGUSER')" routerLink="/approver" mat-button cdkFocusInitial style="padding-bottom: 4px;
                       color: white;
                        font-size: 14px;
                        padding-right: 20px;
                        padding-left: 31px;">Approver
                       
                    </button>


              <button [class.hidden]="checkAccess('DONOR')" routerLink="/" mat-button cdkFocusInitial style="padding-bottom: 4px;
                       color: white;
                        font-size: 14px;
                        padding-right: 20px;
                        padding-left: 31px;">Donor</button>


                <div style="float: right; color: #ffffff; height: 20px; font-size: 14px;">Welcome <span
                        style="color:#71cbff">{{username}}
                    </span> </div>
            </div>
            <button mat-button cdkFocusInitial (click)="onLogout()" style="padding-bottom: 4px;
       color: white;
       font-size: 14px;
       padding-right: 20px;
       padding-left: 31px;">Logout</button>
        </mat-toolbar>

        <mat-toolbar class="col-md-12"
            style="border-bottom: 1px solid #b0b0b0;background-color: #ffffff; height: 50px !important;">
            <mat-icon (click)="toggle()" id="toolbarMenu"
                style="padding-right: 40px;padding-left: 10px; font-size: 28px;">
                subject</mat-icon>Pledge
        </mat-toolbar>
    </nav>
</header>

