<header>
    <nav class="navbar fixed-top" id="navBar" style="    margin-left: 80px;">
        <mat-toolbar class="toolbar">
            <div style="width: 100%">
                <img src="/assets/images/wbg.png" alt="The World Bank"
                    style="height: 30px; width:160px; margin-bottom: 5px;">

                     <div style="float: right;
                     margin-top: -4px;"> 
                            <select  [(ngModel)]="selectedItem" (ngModelChange)="onAnchorClick($event)"
                            [value]='Donor' >
                                    <!--  <option value="0" selected>--All--</option> -->
                                   <!--  <option value="" disabled selected>Select fund type name</option> -->
                                    <!--  <option selected="selected" value="Admin" selected [class.hidden]="checkAccess('ADMIN')"   
                                      >Admin</option> -->
                                     <option value="Donor" [class.hidden]="checkAccess('DONOR')" 
                                        >Donor</option>
                                     <option value="Approver" [class.hidden]="checkAccess('APPROVER')"  
                                     >
                                     Approver</option>
                                     <option value="Treasury" [class.hidden]="checkAccess('TREASURY')"
                                     >Treasury</option>
                                   </select>
                     </div> 
                   

                   <!--  <select formControlName="pledgeFundType" class="form-control"
                    [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
                    <option value="" disabled selected>Select fund type</option>
                    <option value="Regular">Regular</option>
                    <option value="Additional Contribution">Additional Contribution</option>
                  </select> -->
<!-- 
                <button [class.hidden]="checkAccess('admin')" routerLink="/admin" mat-button cdkFocusInitial style="padding-bottom: 4px;
                    color: white;
                    font-size: 14px;
                    padding-right: 20px;
                    padding-left: 31px;
                    outline: none;
                    cursor: pointer;">Admin</button>
 -->
              <!--   <button [class.hidden]="checkAccess('APPROVER')" routerLink="/approver" mat-button cdkFocusInitial
                    [class.btnClicked]="isApproverClicked" [class.btnNotClicked]="!isApproverClicked"
                    (click)="approverRoleClicked()">Approver
                </button> -->

                <!-- <button [class.hidden]="checkAccess('DONOR')" routerLink="/" mat-button cdkFocusInitial
                    [class.btnClicked]="isDonorClicked" [class.btnNotClicked]="!isDonorClicked"
                    (click)="donorRoleClicked()">Donor</button>
 -->
               <!--  <button [class.hidden]="checkAccess('TREASURY')" routerLink="/treasury" mat-button cdkFocusInitial
                    [class.btnClicked]="isTreasuryClicked" [class.btnNotClicked]="!isTreasuryClicked"
                    (click)="treasuryRoleClicked()">Treasury</button> -->

                <!-- <button [class.hidden]="checkAccess('ADMIN')" routerLink="/admin" mat-button cdkFocusInitial
                    [class.btnClicked]="isAdminClicked" [class.btnNotClicked]="!isAdminClicked"
                    (click)="adminRoleClicked()">Admin</button>
 -->
                <div style="float: right; color: #ffffff; height: 20px; font-size: 14px;padding-top: 3px;">Welcome <span
                        style="color:#71cbff">{{username}}
                    </span> </div>
            </div>
            <button mat-button cdkFocusInitial (click)="onLogout()" style="padding-bottom: 4px;
       color: white;
       font-size: 14px;
       padding-right: 20px;
       padding-left: 31px;
       outline: none;
                    cursor: pointer;">Logout</button>
        </mat-toolbar>
    </nav>
</header>