<h1 mat-dialog-title>Pledge Approval</h1>
<div mat-dialog-content>
  <p>{{data}}</p>
   <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.quantity">
  </mat-form-field>  -->
</div>
<!-- <div mat-dialog-actions>
    <i class="fa fa-check" aria-hidden="true" style= "font-size: 20px; display:inline-flex;
    margin-left: 18px;
    margin-right: 15px;"></i>
    <br/>
  <button mat-button  cdkFocusInitial (click)="onClick()">Ok</button>
</div> -->

<div mat-dialog-actions style="
float: right;
outline: none;
">
    
    <br/>
  <button mat-raised-button  cdkFocusInitial (click)="onClick()" style="background-color: #71cbff70;
  font-weight: 600;
  outline: none;
  padding: 0px;
  border-radius: 5px;">
    <i class="fa fa-check" aria-hidden="true" style="
    margin-right: 5px;
"></i>Ok</button>
</div>