<div *ngIf="!isRowClicked">
  <mat-card class="col-md-11" style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchPledge()">
        <div style="display: inline-flex;padding: 0px" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label space" style="padding-right: 11px;">Fund Type</label>
            <select formControlName="pledgeFundType" class="form-control">
              <option value="" disabled selected>Select fund type</option>
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>

          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label space" style="margin-right: 12px;">Pledge ID</label>
            <input formControlName="pledgeId" placeholder="Enter pledge ID" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label space">Program Name</label>
            <select formControlName="programName" class="form-control">
              <option value="" disabled selected>Select program name</option>
              <option value="Carbon Emission Reduction" selected>Carbon Emission Reduction</option>
              <option value="Carbon Footprint">Carbon Footprint</option>
            </select>
          </div>
        </div>

        <div style="display: inline-flex; margin-top: 10px;" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;padding-left: 0px;">
            <label class="searchForm-label " style="padding-right: 23px !important; ">Amount</label>
            <input formControlName="amount" placeholder="Enter amount" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;padding-left: 10px;">
            <label class="searchForm-label" style="    margin-right: 3px;">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;padding-left: 22px;
          padding-right: 0px;" >
            <label class="searchForm-label" style="padding-right: 37px !important; ">End Date</label>
            <input type="date" formControlName="endDate" class="form-control" >
          </div>
        </div>
        <div class="form-group" style="margin-top: 10px;    margin-right: 2%;    height: 20px;">
          <button type="reset" style="  max-width: 90px;" class="col-md-1" mat-raised-button
          id="searchBtn" (click)="cancelPledge()">
            Cancel</button>
          <button type="submit" style="margin-left: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
          id="searchBtn">
            Search</button>
        </div>
      </form>
    </div>
  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
      <mat-table [dataSource]="dataSource" class="col-md-12" [class.isMobile]="isMobile">

          <!-- <ng-container matColumnDef="checked">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Check</mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
              <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
            </mat-cell>
          </ng-container> -->
    
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef style="padding-left: 12px;
            padding-top: 15px;justify-content: center;" >
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" style="justify-content: center;">
              <mat-checkbox (click)="$event.stopPropagation(); store();" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
    
          <!-- Pledge ID Column -->
          <ng-container matColumnDef="pledgeId">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" 
              style="display: flex;
              justify-content: flex-end;"> 
              <div style="display: inherit">
                Pledge Id 
                <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('pledgeId')" style="padding-left: 5px;padding-top: 5px"></i>
                <ng-template #descending>
                  <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeId')" style="padding-left: 5px; "></i>
                </ng-template>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> <span class="mobile-label"> Pledge Id :</span>{{element.pledgeId}} </mat-cell>
          </ng-container>
    
          <!-- WBG Program -->
          <ng-container matColumnDef="programName">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" >
                <div style="display: inherit">
              Program Name
              <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('programName')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('programName')" style="padding-left: 5px; "></i>
              </ng-template>
            </div>
           </mat-header-cell>
            <mat-cell *matCellDef="let element" > <span class="mobile-label">Program Name:</span>{{element.programName}} </mat-cell>
          </ng-container>
    
          <!--  Pledge Type Column -->
          <ng-container matColumnDef="pledgeType">
            <mat-header-cell *matHeaderCellDef  class="tableHeader"  >
                <div style="display: inherit">
              Fund Type  <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('pledgeFundType')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeFundType')" style="padding-left: 5px; "></i>
              </ng-template>
            </div></mat-header-cell>
            <mat-cell *matCellDef="let element" > <span class="mobile-label">Fund Type :</span>{{element.pledgeFundType}} </mat-cell>
          </ng-container>
    
          <!-- Donor Name Column -->
          <ng-container matColumnDef="donorName">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" > 
                <div style="display: inherit">
              Donor Name  <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('donorName')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('donorName')" style="padding-left: 5px; "></i>
              </ng-template>
            </div></mat-header-cell>
            <mat-cell *matCellDef="let element" > <span class="mobile-label">Donor Name:</span>{{element.donorName | titlecase}} </mat-cell>
          </ng-container>
    
          <!-- Country Column -->
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef  class="tableHeader"  
              > 
              <div style="display: inherit">Country  <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('country')" style="padding-left: 5px;padding-top: 5px"></i>
                <ng-template #descending>
                  <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('country')" style="padding-left: 5px; "></i>
                </ng-template>
              </div></mat-header-cell>
            <mat-cell *matCellDef="let element"> <span class="mobile-label">Country:</span>{{element.country}} </mat-cell>
          </ng-container>
    
          <!-- Pledge Amount Column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef  class="tableHeader"  style="display: flex;
            justify-content: flex-end;" > 
                <div style="display: inherit">
              ($) Amount <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('amount')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('amount')" style="padding-left: 5px; "></i>
              </ng-template>
            </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"><span class="mobile-label">($) Amount:</span> {{element.amount| currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
          </ng-container>
    
    
          <!-- Approver Column -->
          <ng-container matColumnDef="approver">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="padding-left: 30px;">
                <div style="display: inherit">
              Approver  <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('approvedBy')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('approvedBy')" style="padding-left: 5px; "></i>
              </ng-template>
            </div></mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-transform: capitalize;padding-left: 30px;"> 
              <span class="mobile-label">Approver:</span>{{element.approvedBy | titlecase}} </mat-cell>
          </ng-container>
    
          <!-- Start Date Column -->
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef  class="tableHeader"   style="display: flex;
            justify-content: flex-end;"> 
                <div style="display: inherit">
              Start Date  <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('startDate')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('startDate')" style="padding-left: 5px; "></i>
              </ng-template>
            </div></mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> <span class="mobile-label"> Start Date:</span>{{element.startDate | date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
    
          <!-- End Date Column -->
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef  class="tableHeader"  style="display: flex;
            justify-content: flex-end;"> 
                <div style="display: inherit">
              End Date <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('endDate')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('endDate')" style="padding-left: 5px; "></i>
              </ng-template>
            </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"><span class="mobile-label">End Date:</span> {{element.endDate | date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
    
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="    padding-right: 0px;
            padding-left: 30px;"> 
                <div style="display: inherit">
              Status <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('status')" style="padding-left: 5px;padding-top: 5px"></i>
              <ng-template #descending>
                <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('status')" style="padding-left: 5px; "></i>
              </ng-template>
            </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="    padding-right: 0px;
            padding-left: 30px;padding-right: 5px;"> <span class="mobile-label">Status:</span>{{element.status}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
        </mat-table>
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>

  <div style=" float: right;padding-right: 25px; margin-bottom: 10px;">
    <button mat-raised-button class="approveBtn" (click)="approvePledge()">
      Approve</button>
  </div>
</div>

<form class="col-md-11" [formGroup]="approvePledgeForm" (ngSubmit)="onRevise()" style="margin-left: 20px;"
  *ngIf="isRowClicked">
  <div class="form-group" style="padding-top: 20px;    width: 40%;    ">
    <div>
      <label class="form-label">Pledge ID:</label>
      <input type="text" formControlName="pledgeId" class="form-control"
        style="float: right; width: 210px; height: 36px;" value={{rowData.pledgeId}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Donor Name:</label>
      <input type="text" formControlName="donorName" class="form-control"
        style="float: right; width: 210px;height: 36px;" value={{rowData.donorName}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name:</label>
      <input type="text" formControlName="programName" class="form-control"
        style="float: right; width: 210px;height: 36px;" value={{rowData.programName}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Country:</label>
      <input type="text" formControlName="country" class="form-control"
        style="float: right; width: 210px; height: 36px;" value={{rowData.country}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Fund Type:</label>
      <input type="text" formControlName="pledgeFundType" class="form-control"
        style="float: right;width: 210px;height: 36px;" value={{rowData.pledgeFundType}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date:</label>
      <input type="text" formControlName="startDate" class="form-control"
        style="float: right; width: 210px; height: 36px;" value={{rowData.startDate}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">End Date:</label>
      <input type="text" formControlName="endDate" class="form-control"
        style="float: right; width: 210px;    height: 36px;" value={{rowData.endDate}} disabled>
    </div>
    <br />
    <div>
      <div style="display:inline-grid">
        <label class="form-label" style="margin-bottom: 0px;">Amount:</label>
        <span style="font-size: 11px">(USD)</span>
      </div>
      <input type="text" formControlName="amount" class="form-control"
        style="float: right; width: 210px;    height: 36px;" value={{rowData.amount}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Payment Period:</label>
      <input type="text" formControlName="paymentPeriod" class="form-control"
        style="float: right; width: 210px;height: 36px;" value={{rowData.paymentPeriod}} disabled>
    </div>

    <br />
    <div>
      <label class="form-label">Installments:</label>
      <input type="text" formControlName="installments" class="form-control"
        style="float: right; width: 210px; height: 36px;" value={{rowData.installments}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Comments:</label>
      <textarea formControlName="comments" rows="4" cols="50" class="form-control"
        style="float: right; width: 210px; height:70px; resize: vertical; "></textarea>
    </div>
    <br />
    <div style="display: inline-flex;margin-left: 250px; margin-top: 10px;">
      <div class="form-group" style="float: right;padding-top: 10px; padding-right: 30px;">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" style="outline: none">Revise</button>
      </div>
      <div class="form-group" style="float: right;padding-top: 10px; padding-right: 115px; ">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" style="outline: none"
          (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>