<div *ngIf="!createPledgeClicked">
  <mat-card class="col-md-11" style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchBilling()">

        <div style="display: inline-flex;" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label space">Fund Type</label>
            <select formControlName="pledgeFundType" class="form-control" >
              <option value="" disabled selected>Select fund type</option>
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>


          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label space" style="margin-right: 10px;">Donor Name</label>
            <input formControlName="donorName" placeholder="Enter donor name" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label space" style=" margin-right: 11px;">Country</label>
            <select formControlName="country" class="form-control" >
              <option value="" disabled selected>Select country</option>
              <option value="United States" selected>United States</option>
              <option value="India">India</option>
              <option value="Australia">Australia</option>
              <option value="England">England</option>
            </select>
          </div>
        </div>

        <div style="display: inline-flex;  margin-top: 10px;" class="col-md-12">

          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label ar" style="margin-right: 4px;">Pledge ID</label>
            <input formControlName="pledgeId" placeholder="Enter pledge ID" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label" style="padding-right: 18px;">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;" >
            <label class="searchForm-label" style="margin-right: 10px;">End Date</label>
            <input type="date" formControlName="endDate" class="form-control" >
          </div>
        </div>

        <div class="form-group" style="margin-top: 10px;height: 20px; margin-right: 5%;">

          <button type="reset" style="  max-width: 90px;" class="col-md-1" mat-raised-button
          id="searchBtn" (click)="cancelBillingSearch()">
            Cancel</button>
          <button type="submit" style="margin-right: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
          id="searchBtn">
            Search</button>
        </div>
      </form>
    </div>
  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
      <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef style=" padding-left: 7px;  justify-content: center;">
              <mat-checkbox style="margin-top: 14px;" (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" style="justify-content: center">
              <mat-checkbox style="margin-top: 14px;" (click)="$event.stopPropagation(); store();"
                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
    
          <!-- Position Column -->
          <ng-container matColumnDef="pledgeId">
            <mat-header-cell *matHeaderCellDef class="tableHeader" style="display: flex;
            justify-content: flex-end;"> 
                <div style="display: inherit">
                Pledge Id 
                <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('pledgeId')" style="padding-left: 5px;padding-top: 5px"></i>
                <ng-template #descending>
                  <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeId')" style="padding-left: 5px; "></i>
                </ng-template>
              </div></mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.pledgeId}} </mat-cell>
          </ng-container>
    
    
          <ng-container matColumnDef="donorName">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="padding-left: 20px;"> 
                <div style="display: inherit"> Donor Name 
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('donorName')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('donorName')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div></mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-transform: capitalize;padding-left: 20px;"> {{element.donorName | titlecase}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="pledgeFundType">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="padding-left: 30px;">
                <div style="display: inherit"> Fund Type
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('pledgeFundType')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeFundType')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div> </mat-header-cell>
            <mat-cell *matCellDef="let element" style="padding-left: 39px;"> {{element.pledgeFundType}} </mat-cell>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="ar_id">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="display: flex;
            justify-content: flex-end;"> 
                <div style="display: inherit">Ar Id
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('arId')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('arId')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.arId}}</mat-cell>
          </ng-container>
    
          <!-- Symbol Column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="display: flex;
            justify-content: flex-end;" > 
                <div style="display: inherit">($) Credit
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('amount')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('amount')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.amount| currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
          </ng-container>
    
          <!-- Debit Column -->
          <ng-container matColumnDef="debit">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="display: flex;
            justify-content: flex-end;" >
                <div style="display: inherit"> ($) Debit
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('debit')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('debit')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.debit| currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
          </ng-container>
          <!-- Country Column -->
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="padding-left: 25px;">
                <div style="display: inherit"> Country
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('country')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('country')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="padding-left: 25px;"> {{element.country}} </mat-cell>
          </ng-container>
    
          <!-- Installment Column -->
          <ng-container matColumnDef="installment_no">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="display: flex;
            justify-content: flex-end;" >
                <div style="display: inherit"> Installment 
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('installmentNo')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('installmentNo')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div></mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.installmentNo}} </mat-cell>
          </ng-container>
    
          <!-- startDate Column -->
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef class="tableHeader" style="display: flex;
            justify-content: flex-end;" > 
                <div style="display: inherit">Start Date 
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('startDate')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('startDate')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div></mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.startDate | date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
    
          <!-- endDate Column -->
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="display: flex;
            justify-content: flex-end;" >
                <div style="display: inherit">End Date
                    <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('endDate')" style="padding-left: 5px;padding-top: 5px"></i>
                    <ng-template #descending>
                      <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('endDate')" style="padding-left: 5px; "></i>
                    </ng-template>
                  </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.endDate | date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
    
          <!-- status Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef  class="tableHeader" style="padding-left: 25px;
            padding-right: 0px;">
                <div style="display: inherit"> Status
                   <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('status')" style="padding-left: 5px;padding-top: 5px"></i>
                  <ng-template #descending>
                    <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('status')" style="padding-left: 5px; "></i>
                  </ng-template>
                </div></mat-header-cell>
            <mat-cell *matCellDef="let element" style="padding-left: 25px;
            padding-right: 0px;text-transform: capitalize"> {{element.status}}
            </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
  <div style="    float: right;padding-right: 25px; margin-bottom: 10px;">
    <button mat-raised-button class="approveBtn" (click)="generateBilling()">
      Generate Billing</button>
  </div>
</div>