<div *ngIf="!isRowClicked">
  <mat-card class="col-md-11" style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchProcessInvoice()">

        <div style="display: inline-flex;" class="col-md-12" style="padding: 0px">

          <!-- Fund Type -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Fund Type</label>
            <select formControlName="pledgeFundType" class="form-control"
              [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
              <option value="" disabled selected>Select fund type name</option>
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>

          <!-- Pledge ID  -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space" style="margin-right: 10px;">Pledge ID</label>
            <input formControlName="pledgeId" placeholder="Enter pledge ID" class="form-control"
              [class.donorName-input-open]="childMessage" [class.donorName-input-close]="!childMessage">
          </div>

          <!-- Program Name -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Country</label>
            <select formControlName="country" class="form-control" [class.country-select-open]="childMessage"
              [class.country-select-close]="!childMessage">
              <option value="" disabled selected>Select country</option>
              <option value="United States" selected>United States</option>
              <option value="India">India</option>
              <option value="Australia">Australia</option>
            </select>
          </div>
        </div>

        <div style="display: inline-flex; margin-top: 10px;" class="col-md-12">

          <!-- Amount -->
          <div class="col-md-4" style="display: inline-flex;padding-left: 0px;"
            [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 12px;">Donor Name</label>
            <input formControlName="donorName" placeholder="Enter Donor Name" class="form-control"
              [class.ar-input-open]="childMessage" [class.ar-input-close]="!childMessage">
          </div>

          <!-- Start Date -->
          <div class="col-md-4" style="display: inline-flex;padding-left: 10px;"
            [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage">
          </div>

          <!-- End Date -->
          <div class="col-md-4" style="display: inline-flex;padding-left: 20px;    padding-right: 0px;"
            [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 40px !important; ">End Date</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage">
          </div>
        </div>

        <div class="form-group" style="margin-top: 10px;    margin-right: 2%;height: 25px;">
            <button type="reset" style="max-width: 90px;" class="col-md-1" mat-raised-button [class.searchBtn-open]="childMessage"
            [class.searchBtn-close]="!childMessage" (click)="cancelInvoiceSearch()">
              Cancel
          </button>
          <button type="submit" style="margin-right: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
            [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage">
            Search</button>
         
        </div>
      </form>
    </div>
  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('pledgeId')"> 
            Pledge Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeId}} </mat-cell>
      </ng-container>

      <!-- Donor Name Column -->
      <ng-container matColumnDef="donorName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('donorName')"> 
            Donor Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donorName | titlecase}} </mat-cell>
      </ng-container>

      <!-- AR ID Column -->
      <ng-container matColumnDef="ar_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('arId')"> Ar Id
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.arId}}</mat-cell>
      </ng-container>

      <!-- Invoice ID Column -->
      <ng-container matColumnDef="invoice_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('invoiceId')"> 
            Invoice Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.invoiceId}}</mat-cell>
      </ng-container>

      <!-- Debit Column -->
      <ng-container matColumnDef="debit">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('debit')"> ($) Debit
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.debit | currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
      </ng-container>

      <!-- Credit Column -->
      <ng-container matColumnDef="creditAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('creditAmount')">
            ($) Credit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.creditAmount | currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
      </ng-container>

      <!-- Fund Type Column -->
      <ng-container matColumnDef="pledgeFundType">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('pledgeFundType')">
            Fund Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeFundType}} </mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('country')"> Country
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      </ng-container>

      <!-- Installment Column -->
      <ng-container matColumnDef="installment_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('installmentNo')">
            Installment </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.installmentNo}} </mat-cell>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('startDate')"> 
            Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('endDate')"> End Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endDate | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="payBtn">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">Action </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-right: 40px;padding-left: 0px;">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <button class="payIcon" matTooltip="Pay"><i class="fa fa-file-text-o"
              aria-hidden="true"></i></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>


    </mat-table>
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="isRowClicked">
  <form [formGroup]="paymentForm" style="margin-left: 20px;" class="col-md-11" *ngIf="isRowClicked">
    <div class="form-group" style="padding-top: 20px;    width: 40%;    ">
      <div>
        <label class="form-label">Pledge ID:</label>
        <input type="text" disabled formControlName="pledgeId" class="form-control" 
            style="float: right; width: 210px; height: 36px;" value={{rowData.pledgeId}}>
      </div>
      <br />
      <div>
        <label class="form-label">Donor Name:</label>
        <input type="text" disabled formControlName="donorName" class="form-control" 
            style="float: right;width: 210px;height: 36px;" value={{rowData.donorName}}>
      </div>
      <br />
      <div>
        <label class="form-label">AR No:</label>
        <input type="text" disabled formControlName="arId" class="form-control" 
            style="float: right; width: 210px; height: 36px;" value={{rowData.arId}}>
        </div>
      <br />
      <div>
        <label class="form-label">Invoice No:</label>
        <input type="text" disabled formControlName="invoiceId" class="form-control" 
            style="float: right; width: 210px; height: 36px;" value={{rowData.invoiceId}}>
      </div>
      <br />
      <div>
        <label class="form-label">Country:</label>
        <input type="text" disabled formControlName="country" class="form-control" 
            style="float: right; width: 210px; height: 36px;" value={{rowData.country}}>
      </div>
      <br />
      <div>
        <label class="form-label">Start Date:</label>
        <input type="text" disabled formControlName="startDate" class="form-control" 
            style="float: right;width: 210px;height: 36px;" value={{rowData.startDate}}>
      </div>
      <br />
      <div>
        <label class="form-label">End Date:</label>
        <input type="text" disabled formControlName="endDate" class="form-control" 
            style="float: right; width: 210px; height: 36px;" value={{rowData.endDate}}>
      </div>
      <br />
      <div>
          <div style="display:inline-grid"> 
        <label class="form-label" style="margin-bottom: 0px;"> Debit Amount:</label>
        <span style="font-size: 11px">(USD)</span>
        </div>
        <input type="text" disabled formControlName="debit" class="form-control" 
            style="float: right; width: 210px; height: 36px;" value={{rowData.debit}}>
      </div>
      <br />
      <div>
          <div style="display:inline-grid"> 
        <label class="form-label" style="margin-bottom: 0px;">Credit Amount:</label>
        <span style="font-size: 11px">(USD)</span>
      </div>
        <input type="text" disabled formControlName="creditAmount" class="form-control" 
            style="float: right; width: 210px; height: 36px;" value={{rowData.creditAmount}}>
      </div>
      <br />
      <div>
        <label class="form-label">Installment No:</label>
        <input type="text" disabled formControlName="installmentNo" class="form-control"
           style="float: right; width: 210px;  height: 36px;" value={{rowData.installmentNo}}>
      </div>
    </div>

    <div style="display: inline-flex;margin-left: 245px;margin-top: 10px;">
        <div class="form-group" style=" float: right; padding-top: 10px; padding-right: 30px;">
            <button mat-raised-button class="initiatePledgeForm-submitBtn" style="outline: none;" (click)="onPay(rowData)">Pay</button>
          </div>
      <div class="form-group" style=" float: right; padding-top: 10px; padding-right: 115px; ">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" style="outline: none;" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>