<button mat-flat-button class="menu-item" (click)="snav.toggle()" (click)="sideBtnClicked()" class="siderBtn">
  <i *ngIf="isSideBtnClicked;else other_content" class="fa fa-angle-double-right" aria-hidden="true"></i>
  <ng-template #other_content><i class="fa fa-angle-double-left" aria-hidden="true"></i></ng-template>
</button>

<section class="container">
  <div class="row">
    <mat-sidenav-container class="col-md-12" class="sidenavContainer" fullscreen style="    margin-top: 40px;">
      <mat-sidenav #snav mode="side" id="sidenav" opened>
        <mat-list>
          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isMatchPaymentClicked"
              [class.btnNotClicked]="!isMatchPaymentClicked" (click)="openProcessPayment()">
              <i class="fa fa-paypal" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 14px;">Pay</div>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>

      <mat-sidenav-content class="col-md-11" class="matSidenavContent">
        <div *ngIf="isMatchPaymentClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-process-payment></app-process-payment>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>