.toolbar{
    height: 45px;
    background: #eaeaeab5;
    width: 100%;
    padding-top: 7px;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  color: black;
  float: right;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.btnClicked{
    background-color:transparent;
    font-size: 16px;
    color: #71cbff;
    border-right: 4px solid #71cbff;
    height: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    outline: none;
}

.btnNotClicked{
    background-color: transparent;
    font-size: 16px;
    color: white;
    height: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    outline: none;
}

.menuClicked{
  width : 0px !important;
}

.menuNotClicked{
  width : 80px !important;
}


