<button mat-flat-button class="menu-item" (click)="snav.toggle()" (click)="sideBtnClicked()" class="siderBtn">
  <i *ngIf="isSideBtnClicked;else other_content" class="fa fa-angle-double-right" aria-hidden="true"></i>
  <ng-template #other_content><i class="fa fa-angle-double-left" aria-hidden="true"></i></ng-template>
</button>

<section class="container">
  <div class="row">
    <mat-sidenav-container class="col-md-12" class="sidenavContainer" fullscreen style="margin-top: 40px;">
      <mat-sidenav #snav mode="side" id="sidenav" opened>
        <mat-list>
          <mat-list-item style="height: 60px;margin-top: 20px">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isDashboardClicked"
              [class.btnNotClicked]="!isDashboardClicked" (click)="openDashboard()">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 12px;">Pledge</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isRecordLegalClicked"
              [class.btnNotClicked]="!isRecordLegalClicked" (click)="openRecordLegal()">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 14px;">Legal</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isPaymentClicked"
              [class.btnNotClicked]="!isPaymentClicked" (click)="openPayment()">
              <i class="fa fa-file-text" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 12px;">Invoice</div>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>

      <mat-sidenav-content class="col-md-11" class="matSidenavContent">
        <div *ngIf="isDashboardClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-dashboard></app-dashboard>
        </div>

        <div *ngIf="isRecordLegalClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-record-legal-donor></app-record-legal-donor>
        </div>

        <div *ngIf="isPaymentClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-process-invoice></app-process-invoice>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>