<!-- <mat-toolbar class="col-md-12" class="headerToolBar" >
  {{header}}
</mat-toolbar> -->
<button  mat-flat-button class="menu-item"  
(click)="snav.toggle()" style="padding-left: 34px;
padding-right: 25px;
font-size: 25px;
height: 40px;
background: #000000c7;
border-radius: 0px;
border-bottom: 1px solid black;
color: white">
<i class="fa fa-bars" aria-hidden="true" ></i>

</button>
<section class="container">
  <div class="row">
    <mat-sidenav-container class="col-md-12" class="sidenavContainer" fullscreen style="    margin-top: 40px;">
       
      <mat-sidenav  #snav mode="side" id="sidenav"  opened >

        
        <mat-list >
         <!--  <div>
            <mat-card class="donorProfile">
              <i class="fa fa-user-circle" aria-hidden="true" ></i>
              <div>John Doe</div>
            </mat-card>
          </div>
          <hr> -->
        <!--   <mat-list-item style="height: 40px;">
              <button  mat-flat-button class="menu-item" [class.btnClicked]="isRecordLegalClicked" [class.btnNotClicked]="!isRecordLegalClicked" 
                    (click)="menuClicked()" style="padding-left: 33px;
                    font-size: 25px;
                    padding-bottom: 0px;
                    margin-top: -12px;
    height: 30px;
    padding-top: 0px;">
                <i class="fa fa-bars" aria-hidden="true" ></i>
               
              </button>
            </mat-list-item>
            <hr style="margin-top: -3px;border-top: 1px solid black;"> -->
             <mat-list-item style="height: 60px;margin-top: 20px">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isDashboardClicked" [class.btnNotClicked]="!isDashboardClicked" 
                 (click)="openDashboard()">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <div class="menuName">Pledge</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button  mat-flat-button class="menu-item" [class.btnClicked]="isRecordLegalClicked" [class.btnNotClicked]="!isRecordLegalClicked" 
                  (click)="openRecordLegal()">
              <i class="fa fa-file-code-o" aria-hidden="true" ></i>
              <div class="menuName">Legal</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button  mat-flat-button class="menu-item" [class.btnClicked]="isPaymentClicked" [class.btnNotClicked]="!isPaymentClicked"
              (click)="openPayment()">
              <i class="fa fa-file-text" aria-hidden="true"></i>
              <div class="menuName">Invoice</div>
            </button>
          </mat-list-item> 

         <!--  <mat-list-item style="margin-top: 20px; height: 60px;">
            <button  mat-flat-button class="menu-item" [class.btnClicked]="isProcessPaymentClicked"
              [class.btnNotClicked]="!isProcessPaymentClicked" (click)="openProcessPayment()" >
              <i class="fa fa-money" aria-hidden="true"></i> Payment view for Treasury
            </button>
          </mat-list-item> -->
 
          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isMatchPaymentClicked"
              [class.btnNotClicked]="!isMatchPaymentClicked"  (click)="openMatchPayment()" >
              <i class="fa fa-paypal" aria-hidden="true"></i>
              <div class="menuName">Payment</div> 
            </button>
          </mat-list-item>
         
          <!-- <mat-list-item style="margin-top: 5px">
            <button class="menu-item" [class.btnClicked]="isUserRoleClicked" [class.btnNotClicked]="!isUserRoleClicked"
              mat-flat-button (click)="openUserRole()">
              <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 20px;
              margin-left: 18px;
              margin-right: 15px;"></i>User Role
            </button>
          </mat-list-item>  -->


          <!-- <mat-list-item style="margin-top: 5px">
            <button class="menu-item" [class.btnClicked]="isAuditLogDisplayClicked" [class.btnNotClicked]="!isAuditLogDisplayClicked"
              mat-flat-button (click)="auditLogDisplay()">
              <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 20px;
              margin-left: 18px;
              margin-right: 15px;"></i>Audit Log Display
            </button>
          </mat-list-item>  -->

        </mat-list>

      </mat-sidenav>

      <mat-sidenav-content class="col-md-11" class="matSidenavContent" >
        <div *ngIf="isDashboardClicked">
            <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
                {{header}}
              </mat-toolbar>
          <app-dashboard [childMessage]="isMenuOpen"></app-dashboard>
        </div>

        <div *ngIf="isRecordLegalClicked">
            <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
                {{header}}
              </mat-toolbar>
          <app-record-legal-donor></app-record-legal-donor>
        </div>
       
        <div *ngIf="isPaymentClicked">
            <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
                {{header}}
              </mat-toolbar>
          <app-process-invoice></app-process-invoice>
        </div>

        <div *ngIf="isProcessPaymentClicked">
            <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
                {{header}}
              </mat-toolbar>
          <app-process-payment></app-process-payment>
        </div>

        <div *ngIf="isMatchPaymentClicked">
            <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
                {{header}}
              </mat-toolbar>
          <app-match-payment></app-match-payment>
        </div>

        <div *ngIf="isUserRoleClicked">
            <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
                {{header}}
              </mat-toolbar>
          <app-user-role></app-user-role>
        </div>

    <!--     <div *ngIf="isAuditLogDisplayClicked">
            <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
            font-weight: 400;">
                {{header}}
              </mat-toolbar>
          <app-audit-logDisplay></app-audit-logDisplay>
        </div> -->
        

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>