<div *ngIf="!isRowClicked">
  <mat-card class="search-form" class="col-md-11" style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchLegal()">
        <div style="display: inline-flex;" class="col-md-12" style="padding: 0px">
          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label space">Fund Type</label>
            <select formControlName="pledgeFundType" class="form-control">
              <option value="" disabled selected>Select fund type</option>
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>


          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label space" style="margin-right: 9px;">Pledge ID</label>
            <input formControlName="pledgeId" placeholder="Enter pledge ID" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label space">Program Name</label>
            <select formControlName="programName" class="form-control">
              <option value="" disabled selected>Select program name</option>
              <option value="Carbon Emission Reduction" selected>Carbon Emission Reduction</option>
              <option value="Carbon Footprint">Carbon Footprint</option>
            </select>
          </div>
        </div>

        <div style="display: inline-flex; margin-top: 10px;" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;padding-left: 0px;">
            <label class="searchForm-label" style="padding-right: 12px;">Amount</label>
            <input formControlName="amount" placeholder="Enter amount" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;padding-left: 10px;">
            <label class="searchForm-label">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;padding-left: 20px;padding-right: 0px;">
            <label class="searchForm-label" style="padding-right: 40px !important; ">End Date</label>
            <input type="date" formControlName="endDate" class="form-control">
          </div>
        </div>

        <div class="form-group" style="margin-top: 10px;    margin-right: 2%;    height: 20px;">

          <button type="reset" style="max-width: 90px;" class="col-md-1" mat-raised-button id="searchBtn"
            (click)="cancelLegalSearch()">
            Cancel</button>
          <button type="submit" style="margin-left: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
            id="searchBtn">
            Search</button>
        </div>
      </form>
    </div>

  </mat-card>
  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table *ngIf="dataSource != null && dataSource.data.length > 0" [dataSource]="dataSource" matSort
      class="col-md-12">

      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="justify-content: flex-end;">
          <div style="display: inherit">
            Pledge Id
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('pledgeId',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeId',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;padding-right: 13px;"> {{element.pledgeId}}
        </mat-cell>
      </ng-container>

      <!-- WBG Program -->
      <ng-container matColumnDef="wbgProgram">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="padding-left: 25px;">
          <div style="display: inherit"> Program Name
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('programName',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('programName',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-left: 20px;"> {{element.programName}} </mat-cell>
      </ng-container>

      <!--  Pledge Type Column -->
      <ng-container matColumnDef="pledgeType">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit"> Fund Type
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('pledgeFundType',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeFundType',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeFundType}} </mat-cell>
      </ng-container>

      <!-- Donor Name Column -->
      <ng-container matColumnDef="donorName">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit">Donor Name
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('donorName',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('donorName',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donorName | titlecase}} </mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit"> Country
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('country',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('country',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      </ng-container>

      <!-- Pledge Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="justify-content: flex-end;">
          <div style="display: inherit"> ($) Amount<i *ngIf="order; else descending" class="fa fa-sort-asc"
              aria-hidden="true" (click)="tableSort('amount',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('amount',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;padding-right: 13px;">
          {{element.amount|currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
      </ng-container>

      <!-- Approver Column -->
      <ng-container matColumnDef="approver">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit;">Approver <i *ngIf="order; else descending" class="fa fa-sort-asc"
              aria-hidden="true" (click)="tableSort('approvedBy',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('approvedBy',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.approvedBy | titlecase}} </mat-cell>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="justify-content: flex-end;">
          <div style="display: inherit"> Start Date <i *ngIf="order; else descending" class="fa fa-sort-asc"
              aria-hidden="true" (click)="tableSort('startDate')" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('startDate')"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;">
          {{element.startDate | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="justify-content: flex-end;">
          <div style="display: inherit">End Date<i *ngIf="order; else descending" class="fa fa-sort-asc"
              aria-hidden="true" (click)="tableSort('endDate',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('endDate',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;"> {{element.endDate | date: 'MM/dd/yyyy'}}
        </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit">
            Status<i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('status',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('status',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="recordlegalBtn">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="padding-right: 0px;">
          Action </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-right: 0px;">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <button class="recordLegalIcon" matTooltip="Record Legal"><i class="fa fa-file-text-o"
              aria-hidden="true"></i></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
    </mat-table>

    <div *ngIf="dataSource == null || dataSource.data.length == 0">
      <h1 mat-dialog-title style="background: #02375f;color: white;">
        <div style="margin-left: 20px;padding-top: 5px;font-size: 15px;font-weight: 400;">
          <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: 7px;"></i>
          INFO!
        </div>
      </h1>
      <div mat-dialog-content
      style="padding-right: 0px; margin-right: 0px;font-weight: 400;margin-left: -5px;font-size: 14px;padding-left: 35px;">
        <p><i class="fa fa-exclamation" aria-hidden="true"></i> No records found</p>
      </div>
    </div>

    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
</div>


<form class="col-md-11" [formGroup]="recordLegalForm" style="margin-left: 20px;" *ngIf="isRowClicked">
  <div class="form-group" style="padding-top: 20px;    width: 35%;    ">
    <div>
      <label class="form-label">PLEDGE ID:</label>
      <input type="text" disabled formControlName="pledgeId" class="form-control" style="float: right;
                          width: 210px;    height: 36px;" value={{rowData.pledgeId}}>
    </div>
    <br />
    <div>
      <label class="form-label">DONOR NAME:</label>
      <input type="text" disabled formControlName="donorName" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.donorName}}>
    </div>
    <br />
    <div>
      <label class="form-label">PROGRAM NAME:</label>
      <input type="text" disabled formControlName="wbg_program" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.programName}}>
    </div>
    <br />
    <div>
      <label class="form-label">COUNTRY:</label>
      <input type="text" disabled formControlName="country" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.country}}>
    </div>
    <br />
    <div>
      <label class="form-label">FUND TYPE:</label>
      <input type="text" disabled formControlName="pledgeFundType" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.pledgeFundType}}>
    </div>
    <br />
    <div>
      <label class="form-label">START DATE:</label>
      <input type="text" disabled formControlName="startDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.startDate}}>
    </div>
    <br />
    <div>
      <label class="form-label">END DATE:</label>
      <input type="text" disabled formControlName="endDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.endDate}}>
    </div>
    <br />
    <div>
      <div style="display:inline-grid">
        <label class="form-label" style="margin-bottom: 0px;">AMOUNT:</label>
        <span style="font-size: 11px">(USD)</span>
      </div>
      <input type="text" disabled formControlName="amount" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.amount}}>
    </div>
    <br />
    <div class="initiatePledgeForm-formField">
      <label class="form-label">PAYMENT PERIOD:</label>

      <input type="text" disabled formControlName="paymentPeriod" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.paymentPeriod}}>
    </div>
    <br />
    <div class="initiatePledgeForm-formField">
      <label class="form-label">INSTALLMENTS:</label>

      <input type="text" disabled formControlName="noOfPayment" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.installments}}>
    </div>
    <br /><br />
    <div style="width: 170%;
    display: inline-flex;
    flex-direction: row;">
      <div>
        <label class="form-label">BUSINESS USER SIGN: <span class="required">*</span></label>
        <div class="m-signature-pad">
          <span class="clearSign" (click)="sigPad.clear()"><i matTooltip="Reset Signature" class="fa fa-repeat"
              aria-hidden="true"></i></span>
          <signature-pad #sigPad>
          </signature-pad>
          <pre>
        {{sigPad.value }}
      </pre>
        </div>
      </div>
      <div style="float: right; padding-left: 13px;">
        <label class="form-label">DONOR SIGN:</label>
        <div class="initiatePledgeForm-formField1">
          <input type="image" src="{{signImage}}" style="float: right;
          width: 300px; height:200px; border:1px solid; resize: vertical;border-color: #808080a1;;
          border-radius: 4px;    background-color: #e9ecef;">
        </div>
      </div>
    </div>
    <br />
    <div style="margin-top: 10px;
    display: inline-flex;
    margin-left: 220px;">
      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 15px;">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" style="outline: none"
          (click)="onLegalSubmit(rowData)">Submit</button>
      </div>
      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 115px; ">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" style="outline: none"
          (click)="onCancel()">Cancel</button>
      </div>

    </div>
  </div>
</form>