<div>
  <mat-card  class="col-md-11" style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchProcessPayment()">

        <div style="display: inline-flex;padding: 0px" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Fund Type:</label>
            <select formControlName="pledgeFundType" class="form-control" [class.ARFundType-select-open]="childMessage"
              [class.ARFundType-select-close]="!childMessage">
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>


          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Donor Name:</label>
            <input formControlName="donorName" class="form-control" [class.donorName-input-open]="childMessage"
              [class.donorName-input-close]="!childMessage">
          </div>

          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Country:</label>
            <select formControlName="country" class="form-control" [class.country-select-open]="childMessage"
              [class.country-select-close]="!childMessage">
              <option value="United States" selected>United States</option>
              <option value="India">India</option>
              <option value="Australia">Australia</option>
              <option value="England">England</option>
            </select>
          </div>

      <!--     <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label status">Status:</label>
            <select formControlName="status" class="form-control" [class.status-select-open]="childMessage"
              [class.status-select-close]="!childMessage">
              <option value="New" selected>New</option>
              <option value="Revise">Revise</option>
              <option value="Approve">Approve</option>
              <option value="Active">Active</option>
            </select>
          </div> -->

        </div>

        <div style="display: inline-flex; margin-top: 5px;padding: 0px" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label ar">Pledge ID:</label>
            <input formControlName="pledgeNo" class="form-control" [class.ar-input-open]="childMessage"
              [class.ar-input-close]="!childMessage">
          </div>


          <!-- <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 7px;">Amount</label>
            <input formControlName="amount" class="form-control" [class.invoice_no-input-open]="childMessage"
              [class.invoice_no-input-close]="!childMessage">
          </div> -->



          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 18px;">Start Date:</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage">
          </div>

          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label">End Date:</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage">
          </div>

        </div>

        <div class="form-group" style="margin-top: 10px;margin-left: 80%;    height: 20px;">

          <button type="submit" style="margin-left: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
            [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage">
            <i class="fa fa-search" aria-hidden="true"></i>Search</button>

          <button type="reset" style="  max-width: 90px;" class="col-md-1" mat-raised-button
            [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage" (click)="cancelPledge()">
            <i class="fa fa-times" aria-hidden="true" style="font-size: 18px;
            margin-top: -4px;
            padding-right: 7px;
            font-weight: 500;"></i>Cancel</button>
        </div>
      </form>
    </div>

  </mat-card>
 
  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="dataSource" matSort class="col-md-12">

      <ng-container matColumnDef="checked">
        <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation(); store();"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeId}} </mat-cell>
      </ng-container>
      
            <!-- Pledge Fund Type Column -->
            <ng-container matColumnDef="pledgeFundType">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> FUND TYPE </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.pledgeFundType}} </mat-cell>
            </ng-container>

      <!-- Invoice ID Column -->
      <ng-container matColumnDef="invoiceId">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> INVOICE ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invoiceId}} </mat-cell>
      </ng-container>

      <!-- Donor Name Column -->
      <ng-container matColumnDef="donorName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> DONOR NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donorName}} </mat-cell>
      </ng-container>
      
      <!-- AR No Column -->
      <ng-container matColumnDef="arId">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> AR NO </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.arId}} </mat-cell>
      </ng-container>

      <!-- Pledge Amount Column -->
      <ng-container matColumnDef="creditAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> CREDIT AMOUNT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.creditAmount}} </mat-cell>
      </ng-container>

       <!-- Debit Amount Column -->
       <ng-container matColumnDef="debitAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> DEBIT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.debitAmount}} </mat-cell>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> BALANCE </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.creditAmount-element.debitAmount}} </mat-cell>
        </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> COUNTRY </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> STATUS </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <!-- Installment No Column -->
      <ng-container matColumnDef="installmentNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> INSTALLMENT NO </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.installmentNo}} </mat-cell>
      </ng-container>
      
      <!-- Last Payment Date Column -->
      <ng-container matColumnDef="paymentDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> LAST PAYMENT DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.paymentDate}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
      <!--  <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr> -->
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>

  </div>

  <div style="    float: right;padding-right: 25px; margin-bottom: 10px;">
    <button mat-raised-button class="approveBtn" (click)="completed()">
      <i class="fa fa-pencil" aria-hidden="true" style="
    padding-right: 5px;
    padding-bottom: 3px; font-weight: 500;
    font-size: 18px;"></i>Completed</button>
  </div>
</div>

