<!-- <section class="container">
    <div class="row"> -->
<mat-toolbar class="toolbar" >
  <div style="width: 100%">
    <img src="/assets/images/world_bank_group_icon.PNG" alt="The World Bank" style="height: 35px; width:140px">
    <div style="float: right; color: #ffffff; height: 20px; font-size: 14px; padding-top: 5px;">Welcome <span style="color:#71cbff">John Doe</span> </div>
  </div>
  <a [routerLink]="['/logout']" style= "    color: white;
  font-size: medium;
  padding-bottom: 5px;
  padding-left: 10px;">Logout</a>
</mat-toolbar>
<!-- </div>
</section> -->


<router-outlet></router-outlet>