<div *ngIf="!isRowClicked">
  <mat-card class="col-md-11" style="max-width: 95.666667%;margin: 20px;" class="search-form" class="col-md-11"
    style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchLegal()">

        <div style="display: inline-flex;" class="col-md-12" style="padding: 0px">
          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label space">Fund Type</label>
            <select formControlName="pledgeFundType" class="form-control">
              <option value="" disabled selected>Select fund type name</option>
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>

          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label space" style="margin-right: 10px;">Pledge ID</label>
            <input formControlName="pledgeId" placeholder="Enter pledge ID" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label space">Program Name</label>
            <select formControlName="programName" class="form-control">
              <option value="" disabled selected>Select program name</option>
              <option value="Carbon Emission Reduction" selected>Carbon Emission Reduction</option>
              <option value="Carbon Footprint">Carbon Footprint</option>
            </select>
          </div>
        </div>

        <div style="display: inline-flex; margin-top: 10px;" class="col-md-12">

          <div class="col-md-4" style="display: inline-flex;padding-left: 0px;">
            <label class="searchForm-label" style="padding-right: 12px;">Amount</label>
            <input formControlName="amount" placeholder="Enter amount" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;padding-left: 10px;">
            <label class="searchForm-label">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control">
          </div>

          <div class="col-md-4" style="display: inline-flex;padding-left: 20px;    padding-right: 0px;">
            <label class="searchForm-label" style="padding-right: 40px !important; ">End Date</label>
            <input type="date" formControlName="endDate" class="form-control">
          </div>
        </div>

        <div class="form-group" style="margin-top: 10px;    margin-right: 2%;height: 25px;">
          <button type="reset" style="max-width: 90px;" class="col-md-1" mat-raised-button id="searchBtn"
            (click)="cancelLegalSearch()">
            Cancel</button>
          <button type="submit" style="margin-right: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
            id="searchBtn">
            Search</button>
        </div>
      </form>
    </div>
  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table *ngIf="dataSource != null && dataSource.data.length > 0" [dataSource]="dataSource" matSort
      class="col-md-12">

      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="display: flex;
            justify-content: flex-end;">
          <div style="display: inherit">Pledge Id
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('pledgeId',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeId',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.pledgeId}} </mat-cell>
      </ng-container>

      <!-- WBG Program -->
      <ng-container matColumnDef="wbgProgram" style="flex: 0 0 197px;">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit">Program Name
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('programName',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('programName',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
      </ng-container>

      <!--  Pledge Type Column -->
      <ng-container matColumnDef="pledgeType">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit"> Fund Type
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('pledgeFundType',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeFundType',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeFundType}} </mat-cell>
      </ng-container>

      <!-- Donor Name Column -->
      <ng-container matColumnDef="donorName" style="flex: 0 0 154px;">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit"> Donor Name
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('donorName',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('donorName',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donorName | titlecase}} </mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country" style="flex: 0 0 130px;">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit"> Country
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('country',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('country',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      </ng-container>

      <!-- Pledge Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="display: flex;
            justify-content: flex-end;">
          <div style="display: inherit">($) Amount
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('amount',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('amount',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.amount | currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
      </ng-container>


      <!-- Approver Column -->
      <ng-container matColumnDef="approver">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit;padding-left: 6px;"> Approver
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('approvedBy',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('approvedBy',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="text-transform: capitalize"> {{element.approvedBy | titlecase}}
        </mat-cell>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="display: flex;
            justify-content: flex-end;">
          <div style="display: inherit">Start Date
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('startDate',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('startDate',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.startDate | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="display: flex;
            justify-content: flex-end;">
          <div style="display: inherit">End Date
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('endDate',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('endDate',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;
            padding-right: 13px;"> {{element.endDate | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit; padding-left: 10px;">Status
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('status',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('status',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="recordlegalBtn">
        <mat-header-cell *matHeaderCellDef class="tableHeader">Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <button class="recordLegalIcon" matTooltip="Record Legal"><i class="fa fa-file-text-o" aria-hidden="true"
              style="margin-left: -15px;"></i></button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>

    </mat-table>

    <div *ngIf="dataSource == null || dataSource.data.length == 0">
      <h1 mat-dialog-title style="background: #02375f;color: white;">
        <div style="margin-left: 20px;padding-top: 5px;font-size: 15px;font-weight: 400;">
          <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: 7px;"></i>
          INFO!
        </div>
      </h1>
      <div mat-dialog-content
      style="padding-right: 0px; margin-right: 0px;font-weight: 400;margin-left: -5px;font-size: 14px;padding-left: 35px;">
        <p><i class="fa fa-exclamation" aria-hidden="true"></i> No records found</p>
      </div>
    </div>

    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
</div>


<form class="col-md-11" [formGroup]="recordLegalForm" style="margin-left: 20px;" *ngIf="isRowClicked">
  <div class="form-group" style="padding-top: 20px;    width: 40%;    ">
    <div>
      <label class="form-label">Pledge ID:</label>
      <input type="text" disabled formControlName="pledgeId" class="form-control" style="float: right;
                          width: 210px;    height: 36px;" value={{rowData.pledgeId}}>
    </div>
    <br />
    <div>
      <label class="form-label">Donor Name:</label>
      <input type="text" disabled formControlName="donorName" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.donorName}}>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name:</label>
      <input type="text" disabled formControlName="wbg_program" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.programName}}>
    </div>
    <br />
    <div>
      <label class="form-label">Country:</label>
      <input type="text" disabled formControlName="country" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.country}}>
    </div>
    <br />
    <div>
      <label class="form-label">Fund Type:</label>
      <input type="text" disabled formControlName="pledgeFundType" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.pledgeFundType}}>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date:</label>
      <input type="text" disabled formControlName="startDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.startDate}}>

    </div>
    <br />
    <div>
      <label class="form-label">End Date:</label>
      <input type="text" disabled formControlName="endDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.endDate}}>
    </div>
    <br />
    <div>
      <div style="display:inline-grid">
        <label class="form-label" style="margin-bottom: 0px;">Amount:</label>
        <span style="font-size: 11px">(USD)</span>
      </div>
      <input type="text" disabled formControlName="amount" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.amount}}>
    </div>
    <br />
    <div>
      <label class="form-label">Payment Period:</label>
      <input type="text" disabled formControlName="paymentPeriod" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.paymentPeriod}}>
    </div>
    <br />
    <div>
      <label class="form-label">Installments:</label>
      <input type="text" disabled formControlName="installments" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.installments}}>
    </div>
    <br /><br />


    <div style="width: 170%;
    display: inline-flex;
    flex-direction: row;">

      <div>
        <label class="form-label">Business User Sign:</label>
        <div class="initiatePledgeForm-formField1">
          <textarea disabled rows="3" cols="50" class="form-control" style="float: right;
          width: 300px; height:200px; resize: vertical; "></textarea>
        </div>
      </div>

      <div style=" float: right; padding-left: 13px;">
        <div>
          <label class="form-label">Donor Sign: <span class="required">*</span></label>
        </div>
        <div class="m-signature-pad">
          <span class="clearSign" (click)="sigPad.clear()"><i matTooltip="Reset Signature" class="fa fa-repeat"
              aria-hidden="true"></i></span>
          <signature-pad #sigPad>
          </signature-pad>
        </div>
        <br />
      </div>
    </div>
    <br />
    <div style="display: inline-flex;     margin-left: 255px; ">
      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 15px;">
        <button mat-raised-button style="outline: none" class="initiatePledgeForm-submitBtn"
          (click)="onLegalSubmit(rowData)">Submit</button>
      </div>
      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 115px; ">
        <button mat-raised-button style="outline: none" class="initiatePledgeForm-submitBtn"
          (click)="onCancel()">Cancel</button>
      </div>

    </div>
  </div>
</form>