<button mat-flat-button class="menu-item" (click)="snav.toggle()" style="padding-left: 24px;
padding-right: 25px;
font-size: 25px;
height: 40px;
background: #000000c7;
border-radius: 0px;
border-bottom: 1px solid black;
color: white">
  <i class="fa fa-bars" aria-hidden="true"></i>
</button>

<section class="container">
  <div class="row">
    <mat-sidenav-container class="col-md-12" class="sidenavContainer" fullscreen style="    margin-top: 40px;">
      <mat-sidenav class="col-md-6" #snav mode="side" id="sidenav" opened>
        <mat-list style="padding-top: 40px;">
          <mat-list-item style="height: 60px;margin-top: 20px">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isDashboardClicked"
              [class.btnNotClicked]="!isDashboardClicked" (click)="openDashboard()">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 12px;">Pledge</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isRecordLegalClicked"
              [class.btnNotClicked]="!isRecordLegalClicked" (click)="openRecordLegal()">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 14px;">Legal</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isInitiateARClicked"
              [class.btnNotClicked]="!isInitiateARClicked" (click)="openInitiateAR()" style="padding-left: 7px;">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 12px;">Account</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isGenerateBillingClicked"
              [class.btnNotClicked]="!isGenerateBillingClicked" (click)="openGenerateBilling()">
              <i class="fa fa-tag" aria-hidden="true"></i>
              <div class="menuName" style="margin-left: 12px;">Billing</div>
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 20px; height: 60px;">
            <button mat-flat-button class="menu-item" [class.btnClicked]="isMatchPaymentClicked"
              [class.btnNotClicked]="!isMatchPaymentClicked" (click)="openMatchPayment()">
              <i class="fa fa-paypal" aria-hidden="true"></i>
              <div class="menuName">Payment</div>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>

      <mat-sidenav-content class="col-md-11" class="matSidenavContent">
        <div *ngIf="isDashboardClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
          font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-approve-pledge></app-approve-pledge>
        </div>
        <div *ngIf="isRecordLegalClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
          font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-record-legal></app-record-legal>
        </div>
        <div *ngIf="isInitiateARClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
          font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-accountreceivable></app-accountreceivable>
        </div>
        <div *ngIf="isGenerateBillingClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
          font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-generate-billing></app-generate-billing>
        </div>
        <div *ngIf="isMatchPaymentClicked">
          <mat-toolbar class="col-md-12" class="headerToolBar" style="padding-left: 25px;
        font-weight: 400;">
            {{header}}
          </mat-toolbar>
          <app-match-payment></app-match-payment>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>