input,
select {
	height: 36px;
	margin-left: 5px;
	padding: 5px;
}

.form-control.inputField {
	float: right;
	width: 210px;
	height: 36px;
	border-color: rgba(0, 0, 0, .26);
	font-size: 14px;
	color: #333333;
	border-radius: 4px;
}


.form-control.inputField.updatePledgeForm {
	float: right;
	height: 36px;
	border-color: rgba(0, 0, 0, .26);
	font-size: 14px;
	color: #333333;
	border-radius: 4px;
	width: 198px;
	border-width: 1px;
}

@media(max-width: 600px) {
	.mat-header-row {
		flex-direction: column;
		align-items: start;
		padding: 8px 24px;
	}
	.mat-row {
		flex-direction: column;
		align-items: start;
		padding: 8px 24px;
	}
}

.paginationBtn {
	border-radius: 20px;
	height: 35px;
	align-items: center;
	color: #27aaf5;
	box-shadow: none;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px;
	min-width: 0px;
	width: 35px !important;
	border-radius: 50%;
	padding: 0px;
	outline: none;
}

.paginationBtn:focus {
	background-color: #27aaf5;
	border-radius: 20px;
	height: 35px;
	align-items: center;
	color: #ffffff;
	box-shadow: none;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px;
	min-width: 0px;
	width: 35px !important;
	border-radius: 50%;
	padding: 0px;
}

.form-control {
	width: 70%;
	font-size: 13px;
}

.mat-header-cell {
	display: flex;
	justify-content: left;
	text-align: left;
	padding-left: 20px; 
}

.mat-cell {
	display: flex;
	justify-content: left;
	text-align: left;
	padding-left: 20px; 
}

::placeholder {
	color: #495057;
	opacity: 1;
}

 :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #495057;
}

 ::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #495057;
}

.required {
	color: red;
}

.mat-column-pledgeId {
	flex: 0 0 105px;
}

.mat-column-programName {
	flex: 0 0 200px;
}

.mat-column-pledgeFundType {
	flex: 0 0 165px;
}

.mat-column-endDate {
	flex: 0 0 110px;
	/* padding-left: 0px !important; */
}

.mat-column-startDate {
	flex: 0 0 110px;
	/* padding-left: 0px !important; */
}

.mat-column-paymentPeriod {
	flex: 0 0 120px;
	/* padding-left: 0px; */
}

.mat-column-installments {
	flex: 0 0 105px;
	/* padding-left: 0px; */
}

.mat-column-amount {
	flex: 0 0 105px;
	/* padding-left: 0px; */
}

.form-group.createPledgeForm,
.form-group.updatePledgeForm {
	padding-top: 20px !important;
	width: 35% !important;
	padding-right: 10px !important;
}

