<div *ngIf="!createPledgeClicked && !isupdatePledgeClicked">
  <mat-card class="col-md-11" style="max-width: 96.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchPledge()">
        <div style="display: inline-flex;" class="col-md-12">

          <!-- Fund Type -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Fund Type</label>
            <select formControlName="pledgeFundType" class="form-control"
              [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
              <option value="" disabled selected>Select fund type</option>
              <option value="Regular">Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>

          <!-- Pledge ID -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space" style="margin-right: 7px;">Pledge ID</label>
            <input formControlName="pledgeId" class="form-control" [class.donorName-input-open]="childMessage"
              [class.donorName-input-close]="!childMessage" placeholder="Enter pledge ID">
          </div>

          <!-- Program Name -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Program Name</label>
            <select formControlName="programName" class="form-control" [class.country-select-open]="childMessage"
              [class.country-select-close]="!childMessage">
              <option value="" disabled selected>Select program name</option>
              <option value="Carbon Emission Reduction">Carbon Emission Reduction</option>
              <option value="Carbon Footprint">Carbon Footprint</option>
            </select>
          </div>
        </div>


        <div style="display: inline-flex;margin-top: 10px;" class="col-md-12">
          <!-- Amount -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label " style="margin-right: 13px;">Amount</label>
            <input formControlName="amount" class="form-control" placeholder="Enter amount"
              [class.ar-input-open]="childMessage" [class.ar-input-close]="!childMessage">
          </div>

          <!-- Start Date -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage">
          </div>

          <!-- End Date -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 40px !important; ">End Date</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage">
          </div>
        </div>

        <div class="form-group" style="margin-top: 10px; margin-right: 2%; margin-bottom: 0px; height: 35px;">
          <button type="reset" style="  max-width: 90px;" class="col-md-1" mat-raised-button
            [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage"
            (click)="cancelPledgeSearch()">
            Cancel
          </button>
          <button type="submit" style="margin-left: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
            [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage">
            Search
          </button>
        </div>
      </form>
    </div>
  </mat-card>

  <!-- Donor Pledge Table -->
  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="dataSource" matSort class="col-md-12">
      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId" >
        <mat-header-cell *matHeaderCellDef  class="tableHeader" >
            <div style="display: inherit;">
          Pledge Id
          <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('pledgeId')"
          style="padding-left: 5px !important;
          font-size: 12px !important;
          padding-top: 5px !important;"></i> 
        <ng-template #descending>
            <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeId')"
            style="padding-left: 5px !important;
            font-size: 12px !important;"></i>
        </ng-template>
      </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"  style="display: flex !important;
        justify-content: flex-end !important;
        padding-right: 30px !important;"> {{element.pledgeId}} </mat-cell>
      </ng-container>

      <!-- Program Name Column -->
      <ng-container matColumnDef="programName" style="flex: 0 0 190px;">
          <mat-header-cell *matHeaderCellDef  class="tableHeader">
              <div style="display: inherit;">
            Program Name
            <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('programName')"
            style="padding-left: 5px !important;
            font-size: 12px !important;
            padding-top: 5px !important;"></i> 
          <ng-template #descending>
              <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('programName')"
              style="padding-left: 5px !important;
              font-size: 12px !important;"></i>
          </ng-template>
        </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
        </ng-container>

           <!-- Fund Type  Column -->
      <ng-container matColumnDef="pledgeFundType" >
          <mat-header-cell *matHeaderCellDef class="tableHeader">
              <div style="display: inherit;">
            Fund Type
            <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('pledgeFundType')"
            style="padding-left: 5px !important;
            font-size: 12px !important;
            padding-top: 5px !important;"></i> 
          <ng-template #descending>
              <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('pledgeFundType')"
              style="padding-left: 5px !important;
              font-size: 12px !important;"></i>
          </ng-template>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.pledgeFundType}}</mat-cell>
        </ng-container>
  
        <!-- Amount Column -->
        <ng-container matColumnDef="amount" >
          <mat-header-cell *matHeaderCellDef  class="tableHeader" 
          style="display: flex !important;
          justify-content: flex-end !important;">
          <div style="display: inherit;">
           ($) Amount
           <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('amount')"
           style="padding-left: 5px !important;
           font-size: 12px !important;
           padding-top: 5px !important;"></i> 
         <ng-template #descending>
             <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('amount')"
             style="padding-left: 5px !important;
             font-size: 12px !important;"></i>
         </ng-template>
           </div> 
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: flex !important;
          justify-content: flex-end !important;
          padding-right: 20px !important;"> {{element.amount | currency:'CAD':'symbol-narrow':'1.0-0'}} </mat-cell>
        </ng-container>
  
        <!-- Installments Column -->
        <ng-container matColumnDef="installments" >
          <mat-header-cell *matHeaderCellDef  class="tableHeader"  style="display: flex !important;
          justify-content: flex-end !important;" >
          <div style="display: inherit;">
            Installments
            <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('installments')"
            style="padding-left: 5px !important;
            font-size: 12px !important;
            padding-top: 5px !important;"></i> 
          <ng-template #descending>
              <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('installments')"
              style="padding-left: 5px !important;
              font-size: 12px !important;"></i>
          </ng-template>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: flex !important;
          justify-content: flex-end !important;
          padding-right: 20px !important;"> {{element.installments}} </mat-cell>
        </ng-container>
  
        <!-- Payment Period Column -->
        <ng-container matColumnDef="paymentPeriod" >
          <mat-header-cell *matHeaderCellDef  class="tableHeader" 
          style="display: flex !important;
          justify-content: flex-end !important;">
          <div style="display: inherit;">
            Payment Period
            <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('paymentPeriod')"
            style="padding-left: 5px !important;
            font-size: 12px !important;
            padding-top: 5px !important;"></i> 
          <ng-template #descending>
              <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('paymentPeriod')"
              style="padding-left: 5px !important;
              font-size: 12px !important;"></i>
          </ng-template>
          </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: flex !important;
          justify-content: flex-end !important;
          padding-right: 20px !important;"> {{element.paymentPeriod}} </mat-cell>
        </ng-container>
  
        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate" >
          <mat-header-cell *matHeaderCellDef  class="tableHeader" 
           style="display: flex !important;
          justify-content: flex-end !important;">
         <div     style="display: inherit;">
          Start Date
          <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('startDate')"
            style="padding-left: 5px !important;
            font-size: 12px !important;
            padding-top: 5px !important;"></i> 
          <ng-template #descending>
              <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('startDate')"
              style="padding-left: 5px !important;
              font-size: 12px !important;"></i>
          </ng-template>
         </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: flex !important;
          justify-content: flex-end !important;
          padding-right: 10px !important;" > {{element.startDate | date: 'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
  
        <!-- End Date Column -->
        <ng-container matColumnDef="endDate" >
          <mat-header-cell *matHeaderCellDef class="tableHeader" 
          style="display: flex !important;
          justify-content: flex-end !important;">
          <div style="display: inherit;">
           End Date
           <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('endDate')"
            style="padding-left: 5px !important;
            font-size: 12px !important;
            padding-top: 5px !important;"></i> 
          <ng-template #descending>
              <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('endDate')"
              style="padding-left: 5px !important;
              font-size: 12px !important;"></i>
          </ng-template>
          </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="display: flex !important;
          justify-content: flex-end !important;
          padding-right: 13px !important;"> {{element.endDate | date: 'MM/dd/yyyy'}}
          </mat-cell>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef  class="tableHeader" 
            style="    padding-left: 25px;">
            <div style="display: inherit;">
            Status
            <i *ngIf='order; else descending' class="fa fa-sort-asc" aria-hidden="true" (click)="tableSort('status')"
            style="padding-left: 5px !important;
            font-size: 12px !important;
            padding-top: 5px !important;"></i> 
          <ng-template #descending>
              <i  class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('status')"
              style="padding-left: 5px !important;
              font-size: 12px !important;"></i>
          </ng-template>
          </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding-right: 13px;
          padding-left: 25px;">
            <button *ngIf="element.status === 'Revise'; else new"
              style="background: none; border: none; color: #27aaf5; border-bottom: 1px solid #27aaf5; "
              matTooltip="Update Pledge">{{element.status}}
            </button>
            <ng-template #new>{{element.status}}</ng-template>
          </mat-cell>
        </ng-container>
    

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; " (click)="selectRow(row)"></mat-row>
    </mat-table>
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
  <div style="    float: right;padding-right: 25px; margin-bottom: 10px;">
    <button mat-raised-button class="createPledgeBtn" (click)="createPledge()">
      Create Pledge
    </button>
  </div>
</div>

<!-- Create Pledge Form-->
<form class="col-md-11" *ngIf="createPledgeClicked" [formGroup]="registerForm" (submit)="onSubmit()" style="margin-left: 20px;">
  <div class="form-group createPledgeForm">
    <div>
      <label class="form-label">Country: <span class="required">*</span></label>
      <select formControlName="country" class="form-control inputField">
        <option value="United States" selected>United States</option>
        <option value="India">India</option>
        <option value="Australia">Australia</option>
        <option value="England">England</option>
      </select>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name: <span class="required">*</span></label>
      <select formControlName="programName" class="form-control inputField">
        <option value="Carbon Emission Reduction" selected>Carbon Emission Reduction</option>
        <option value="Carbon Footprint">Carbon Footprint</option>
      </select>
    </div>
    <br />
    <div>
      <label class="form-label">Fund Type: <span class="required">*</span></label>
      <select formControlName="pledgeFundType" class="form-control inputField">
        <option value="Regular" selected>Regular</option>
        <option value="Additional Contribution">Additional Contribution</option>
      </select>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date: <span class="required">*</span></label>
      <input type="date" formControlName="startDate" class="form-control inputField"
        style=" border-width: 1px;">
    </div>
    <br />
    <div>
      <label class="form-label">End Date: <span class="required">*</span></label>
      <input type="date" formControlName="endDate" class="form-control inputField"
        style="border-width: 1px;">
    </div>
    <br />
    <div>
      <div style="display:inline-grid">
        <label class="form-label" style="margin-bottom: 0px;">Amount: <span class="required">*</span></label>
        <span style="font-size: 11px">(USD)</span>
      </div>
      <input class="form-control inputField" formControlName="amount" style=" border-width: 1px;">
    </div>
    <br />
    <div>
      <div style="display:inline-grid">
        <label class="form-label" style="margin-bottom: 0px;">Payment Period: <span class="required">*</span></label>
        <span style="font-size: 11px">(IN MONTHS)</span>
      </div>
      <select formControlName="paymentPeriod" class="form-control inputField">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
      </select>
    </div>
    <br />
    <div>
      <label class="form-label">Installments: <span class="required">*</span></label>
      <input class="form-control inputField" formControlName="installments" style=" border-width: 1px; ">
    </div>
    <br />
    <div class="form-group" class="formBtns">
      <button mat-raised-button class="submitFormBtn" [disabled]="registerForm.pristine || registerForm.invalid">
        Submit
      </button>
      <button mat-raised-button class="cancelFormBtn" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</form>

<form class="col-md-11" *ngIf="isupdatePledgeClicked" [formGroup]="updateForm" (ngSubmit)="onUpdate()"
  style="margin-left: 20px;">
  <div class="form-group updatePledgeForm">
    <div>
      <label class="form-label">Pledge ID:</label>
      <input formControlName="pledgeId" class="form-control inputField updatePledgeForm" value={{rowData.pledgeId}}
        disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Country:</label>
      <input formControlName="country" class="form-control inputField updatePledgeForm" value={{rowData.country}}>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name:</label>
      <input formControlName="programName" class="form-control inputField updatePledgeForm"
        value={{rowData.programName}}>
    </div>
    <br />
    <div>
      <label class="form-label">Pledge Fund Type:</label>
      <input formControlName="pledgeFundType" class="form-control inputField updatePledgeForm"
        value={{rowData.pledgeFundType}}>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date:</label>
      <input type="date" formControlName="startDate" class="form-control inputField updatePledgeForm"
        value={{rowData.startDate}}>
    </div>
    <br />
    <div>
      <label class="form-label">End Date:</label>
      <input type="date" formControlName="endDate" class="form-control inputField updatePledgeForm"
        value={{rowData.endDate}}>
    </div>
    <br />
    <div>
      <div style="display:inline-grid">
        <label class="form-label" style="margin-bottom: 0px;">Amount:</label>
        <span style="font-size: 11px">(USD)</span>
      </div>
      <input class="form-control inputField updatePledgeForm" formControlName="amount" value={{rowData.amount}}>
    </div>
    <br />
    <div>
      <div style="display:inline-grid">
        <label class="form-label" style="margin-bottom: 0px;">Payment Period:</label>
        <span style="font-size: 11px">(IN MONTHS)</span>
      </div>
      <input class="form-control inputField updatePledgeForm" formControlName="paymentPeriod"
        value={{rowData.paymentPeriod}}>
    </div>
    <br />
    <div>
      <label class="form-label">Installments:</label>
      <input class="form-control inputField updatePledgeForm" formControlName="installments"
        value={{rowData.installments}}>
    </div>
    <br />
    <div class="form-group" style="float: right; padding-top: 15px; padding-right: 5px;">
      <button mat-raised-button class="initiatePledgeForm-submitBtn updateButton" (click)="onUpdateRow(rowData)">
        Update
      </button>
      <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="onCancel()" style="outline: none;">
        Cancel
      </button>
    </div>
  </div>
</form>