<div *ngIf="!createPledgeClicked && !isupdatePledgeClicked">
  <mat-card class="col-md-11" style="max-width: 96.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchPledge()">
        <div style="display: inline-flex;" class="col-md-12">

          <!-- Fund Type -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Fund Type</label>
            <select formControlName="pledgeFundType" class="form-control"
              [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
              <option value="" disabled selected>Select fund type</option>
              <option value="Regular">Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>

          <!-- Pledge ID -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space" style="margin-right: 7px;">Pledge ID</label>
            <input formControlName="pledgeId" class="form-control" [class.donorName-input-open]="childMessage"
              [class.donorName-input-close]="!childMessage" placeholder="Enter pledge ID">
          </div>

          <!-- Program Name -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Program Name</label>
            <select formControlName="programName" class="form-control" [class.country-select-open]="childMessage"
              [class.country-select-close]="!childMessage">
              <option value="" disabled selected>Select program name</option>
              <option value="Carbon Emission Reduction">Carbon Emission Reduction</option>
              <option value="Carbon Footprint">Carbon Footprint</option>
            </select>
          </div>
        </div>

        
        <div style="display: inline-flex;margin-top: 10px;" class="col-md-12">
          <!-- Amount -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label " style="margin-right: 13px;">Amount</label>
            <input formControlName="amount" class="form-control" placeholder="Enter amount"
              [class.ar-input-open]="childMessage" [class.ar-input-close]="!childMessage">
          </div>

          <!-- Start Date -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label">Start Date</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage">
          </div>

          <!-- End Date -->
          <div class="col-md-4" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 40px !important; ">End Date</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage">
          </div>
        </div>

        <div class="form-group" style="margin-top: 10px; margin-right: 2%; margin-bottom: 0px; height: 35px;">
          <button type="reset" style="  max-width: 90px;" class="col-md-1" mat-raised-button
            [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage" (click)="cancelPledgeSearch()">
           <!--  <i class="fa fa-times" aria-hidden="true" 
              style="font-size: 18px;margin-top: -4px;padding-right: 7px; font-weight: 500;"></i> -->
            Cancel
          </button>
          <button type="submit" style="margin-left: 15px;max-width: 90px;" class="col-md-1" mat-raised-button
            [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage">
           <!--  <i class="fa fa-search" aria-hidden="true"></i> -->
            Search
          </button>
        </div>
      </form>
    </div>
  </mat-card>

  <!-- Donor Pledge Table -->
  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="dataSource" matSort class="col-md-12">
      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId" style="flex: 0 0 100px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('pledgeId')"> 
          PLEDGE ID 
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeId}} </mat-cell>
      </ng-container>

      <!-- Program Name Column -->
      <ng-container matColumnDef="programName" style="flex: 0 0 190px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('programName')"
        style="padding-left: 30px;">
          PROGRAM NAME
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
      </ng-container>

      <!-- Fund Type  Column -->
      <ng-container matColumnDef="pledgeFundType" style="flex: 0 0 170px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('pledgeFundType')"
        style="padding-left: 22px;">
          FUND TYPE 
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeFundType}}</mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount" style="flex: 0 0 123px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('amount')" 
        style="padding-left: 20px;
        margin-left: 10px;">
          AMOUNT 
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-left: 25px;"> {{element.amount |currency:'CAD':'symbol-narrow' }} </mat-cell>
      </ng-container>

      <!-- Installments Column -->
      <ng-container matColumnDef="installments" style="flex: 0 0 178px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('installments')"
        style="padding-left: 20px;">
          INSTALLMENTS 
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.installments}} </mat-cell>
      </ng-container>

      <!-- Payment Period Column -->
      <ng-container matColumnDef="paymentPeriod" style="flex: 0 0 95px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('paymentPeriod')"
        style="padding-left: 3px;">
          PAYMENT PERIOD
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.paymentPeriod}} </mat-cell>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate" style="flex: 0 0 150px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('startDate')"
        style=" margin-left: 8px;"> 
          START DATE 
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-left: 34px;"> {{element.startDate}} </mat-cell>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate" style="flex: 0 0 95px;">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('endDate')"
        style="    padding-left: 10px;"> 
          END DATE
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-left: 30px;"> {{element.endDate}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader" (click)="tableSort('status')"
        style="    padding-left: 25px;"> 
          STATUS
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="padding-right: 13px;
        padding-left: 4px;">
          <button *ngIf="element.status === 'Revise'; else new" 
            style="background: none; border: none; color: #27aaf5; border-bottom: 1px solid #27aaf5; " 
            matTooltip="Update Pledge">{{element.status}}
          </button>
          <ng-template #new>{{element.status}}</ng-template>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; " (click)="selectRow(row)"></mat-row>
    </mat-table>
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
  <div style="    float: right;padding-right: 25px; margin-bottom: 10px;">
    <button mat-raised-button class="approveBtn" (click)="createPledge()">
      <!-- <i class="fa fa-pencil" aria-hidden="true" style="padding-right: 5px;padding-bottom: 3px; font-weight: 500; font-size: 18px;"></i> -->
        Create Pledge
    </button>
  </div>
</div>

<!-- Create Pledge Form-->
<form class="col-md-11" *ngIf="createPledgeClicked" [formGroup]="registerForm" (submit)="onSubmit()"
  style="margin-left: 20px;">
  <div class="form-group" style="padding-top: 20px; width:35%; padding-right: 10px;">
    <div>
      <label class="form-label">Country: <span class="required">*</span></label>
      <select formControlName="country" class="form-control inputField">
        <option value="United States" selected>United States</option>
        <option value="India">India</option>
        <option value="Australia">Australia</option>
        <option value="England">England</option>
      </select>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name: <span class="required">*</span></label>
      <select formControlName="programName" class="form-control inputField">
        <option value="Carbon Emission Reduction" selected>Carbon Emission Reduction</option>
        <option value="Carbon Footprint">Carbon Footprint</option>
      </select>
    </div>
    <br />
    <div>
      <label class="form-label">Fund Type: <span class="required">*</span></label>
      <select formControlName="pledgeFundType" class="form-control inputField">
        <option value="Regular" selected>Regular</option>
        <option value="Additional Contribution">Additional Contribution</option>
      </select>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date: <span class="required">*</span></label>
      <input type="date" formControlName="startDate" class="form-control inputField"
        style="width:210px;  border-width: 1px;">
    </div>

    <br />
    <div>
      <label class="form-label">End Date: <span class="required">*</span></label>
      <input type="date" formControlName="endDate" class="form-control inputField"
        style="width:210px; border-width: 1px;">
    </div>

    <br />
    <div>
      <div style="display:inline-grid"> 
        <label class="form-label" style="margin-bottom: 0px;">Amount: <span class="required">*</span></label>
        <span style="font-size: 11px">(USD)</span>
      </div>
      <input class="form-control inputField" formControlName="amount" style="width:210px; border-width: 1px;">
    </div>

    <br />
    <div>
      <div style="display:inline-grid"> 
        <label class="form-label" style="margin-bottom: 0px;">Payment Period: <span class="required">*</span></label>
        <span style="font-size: 11px">(IN MONTHS)</span>
      </div>
      <select formControlName="paymentPeriod" class="form-control inputField">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
      </select>
      
    </div>

    <br />
    <div>
      <label class="form-label">Installments: <span class="required">*</span></label>
      <input class="form-control inputField" formControlName="installments"
        style="width:210px; border-width: 1px; ">
    </div>
    <br />
    <div class="form-group" style="float: right;padding-top: 15px;padding-right: 5px;">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" [disabled]="registerForm.pristine || registerForm.invalid"
        style="margin-left: 22px;outline: none;    margin-right: 30px;">Submit</button>
      <button mat-raised-button class="initiatePledgeForm-submitBtn" style="outline: none;"
        (click)="onCancel()">Cancel</button>
      
    </div>
  </div>
</form>

<form class="col-md-11" *ngIf="isupdatePledgeClicked" [formGroup]="updateForm" (ngSubmit)="onUpdate()"
  style="margin-left: 20px;">
  <div class="form-group" style="padding-top: 20px;    width: 35%;">

    <div>
      <label class="form-label">Pledge ID:</label>
      <input formControlName="pledgeId" class="form-control inputField" style="width:198px;  border-width: 1px;"
        value={{rowData.pledgeId}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Country:</label>
      <input formControlName="country" class="form-control inputField" style="width:198px;  border-width: 1px;"
        value={{rowData.country}}>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name:</label>
      <input formControlName="programName" class="form-control inputField" style="width:198px;  border-width: 1px;"
        value={{rowData.programName}}>
    </div>
    <br />
    <div>
      <label class="form-label">Pledge Fund Type:</label>
      <input formControlName="pledgeFundType" class="form-control inputField" style="width:198px;  border-width: 1px;"
        value={{rowData.pledgeFundType}}>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date:</label>
      <input type="date" formControlName="startDate" class="form-control inputField"
        style="width:198px;  border-width: 1px;" value={{rowData.startDate}}>
    </div>
    <br />
    <div>
      <label class="form-label">End Date:</label>
      <input type="date" formControlName="endDate" class="form-control inputField"
        style="width:198px; border-width: 1px;" value={{rowData.endDate}}>
    </div>
    <br />
    <div>
        <div style="display:inline-grid"> 
      <label class="form-label" style="margin-bottom: 0px;">Amount:</label>
      <span style="font-size: 11px">(USD)</span>
        </div>
      <input class="form-control inputField" formControlName="amount" style="width:198px; border-width: 1px;"
        value={{rowData.amount}}>
    </div>
    <br />
    <div>
        <div style="display:inline-grid"> 
      <label class="form-label" style="margin-bottom: 0px;">Payment Period:</label>
      <span style="font-size: 11px">(IN MONTHS)</span>
      </div>
      <input class="form-control inputField" formControlName="paymentPeriod" style="width:198px; border-width: 1px;"
        value={{rowData.paymentPeriod}}>
    </div>
    <br />
    <div>
      <label class="form-label">Installments:</label>
      <input class="form-control inputField" formControlName="installments" style="width:198px;  border-width: 1px; "
        value={{rowData.installments}}>
    </div>
    <br />
    <div class="form-group" style="float: right; padding-top: 15px; padding-right: 5px;">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="onUpdateRow(rowData)"
        style="margin-left: 22px;outline: none;margin-right: 30px;">Update</button>
      <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="onCancel()"
        style="outline: none;">Cancel</button>
      
    </div>
  </div>
</form>