/* You can add global styles to this file, and also import other style files */
/* @import "~font-awesome/css/font-awesome.css;" */

/* @import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid'; */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; width: 100%; margin: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }

/* html, body { height: 100%; width: 100%; margin: 0; }
div { height: 100%; width: 100%; background: #F52887; } */

/* #snav{
    margin-left: 70px;
        box-shadow: none;
        visibility: unset !important;
} */

.sidenavStyle-open{
    margin-left: 0px; 
    box-shadow: none;
    visibility: unset !important;
}

.sidenavStyle-close{
    margin-left: -215px;
    box-shadow: none;
    visibility: unset !important;
}

.sidenavContent-open{
    margin-left: 280px !important;
}

.sidenavContent-close{
    margin-left: 95px !important;
}

.sidenavContainer{
   /*  margin-top: 40px; */
    padding-right: 0px;
    padding-left: 0px;
}

#sidenav{
     width : 80px !important; 
    background: #000000c7;
    padding: 0px;
    box-shadow: 0 10px 3px 2px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12);
}

:host{
    width: 0px
}
.menuClicked{
    width : 0px !important;
}

.menuNotClicked{
    width : 80px !important;
}

/* .sidebaropen{
    width : 80px !important;
}

.sidebarclose{
    width : 0px !important;
} */

#sidenav.menu-close{
    width: 95px;
}

#sidenav.sideContent-close{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 100px;
    max-width: 92.333333%;
}

#sidenav.sideContent-open{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 100px;
    max-width: 82.333333% !important ;
   /*  max-width: 92.333333%; */
}

#sidenav.menu-open{
    width: 80px;
    background: #002b54;
    padding: 0px;
}

#sidenav .mat-list-item-content{
    padding: 0px;
}

#sidenav .menu-item{
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
    height: 60px;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    /* color: white; */
}

#sidenav .menu-item:hover{
    background: transparent;
    /* #b0b0b0b3; */
    color: #71cbff;
    border-right: 4px solid #71cbff;
}

#sidenav .menu-item mat-icon{
    margin-right: 20px;
    margin-left: 15px;
}

.mat-card-header-text{
    margin: 0px !important;
}

.mat-drawer-inner-container{
    overflow: hidden !important;
}

.sidenavContent{
    margin-left: 280px !important;
}

.form-label{
    font-size: 12px;
    color: #02375f;
    text-transform: uppercase;
}

/*  .initiatePledgeForm-formField{
     padding-top: 0px; 
    display: inline-flex
}  */

.initiatePledgeForm-submitBtn{
    margin: 0px;
    padding: 0px;
    width: 85px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important;
    background-color: #27aaf5;
    border-radius: 20px !important;
    height: 36px;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    outline: none;
}


.recordLegalIcon{
    margin-left: 25px;
    box-shadow: none;
    font-size: 17px;
    border-width: 0px;
   /*  border-left-width: 0px;
    border-bottom-width: 0px; */
   /*  padding-left: 0px; */
   /*  border-top-width: 0px;
    border-right-width: 0px; */
  /*   padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px; */
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

.mat-paginator > .mat-paginator-outer-container > .mat-paginator-container > .mat-paginator-range-actions > .mat-paginator-range-label > .mat-custom-page .selected{
    padding: 20px;
    color: dodgerblue;
    font-size: 14px;
    font-weight: 500;
}

.paginationBtn{
    /* background-color: #27aaf5; */
    border-radius: 20px;
    height: 35px;
    align-items: center;
    color: #27aaf5;
    box-shadow: none;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 0px;
    width: 35px !important;
    border-radius: 50%;
    padding: 0px;
    outline: none;
  }

  .paginationBtn:focus {     
    background-color: #27aaf5;
    border-radius: 20px;
    height: 35px;
    align-items: center;
    color: #ffffff;
    box-shadow: none;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 0px;
    width: 35px !important;
    border-radius: 50%;
    padding: 0px;   
}

#navBar{
    padding: 0px !important;
}

.headerToolBar{
    border-bottom: 1px solid #b0b0b0;
    background-color: #ffffff; 
    height: 40px !important;   
    padding-left: 30px;
    color: #02375f
    /* margin-top: 40px; */
}

.headerToolBarIcon{
    padding-right: 40px;
    padding-left: 5px;
    font-size: 28px;
}



.donorProfile{
    box-shadow: none !important; padding-bottom: 6px !important; height: 100px !important;
}

.donorProfile .fa .fa-user-circle{
    padding-top: 7px;
    font-size: x-large;
    padding-left: 8px;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}

#sidenav .menu-item .fa.fa-pencil-square-o, #sidenav .menu-item .fa.fa-file-code-o, 
    #sidenav .menu-item .fa.fa-university, #sidenav .menu-item .fa.fa-tag, #sidenav .menu-item .fa.fa-credit-card,
    #sidenav .menu-item .fa.fa-file-text, #sidenav .menu-item .fa.fa-paypal{
    font-size: 37px;
    margin-left: 15px;
    margin-right: 25px;
}

/* #sidenav .menu-item .fa.fa-file-text-o{
    font-size: 20px;
    margin-left: 18px;
    margin-right: 25px;
} */

.menuName {
    margin-top: -10px;
    margin-left: 17px;
    font-size: 11px;
    font-weight: unset;
}

.matSidenavContent{
    padding-right: 0px;
    padding-left: 0px;    
    padding-right: 0px; 
   /*  max-width: 94.666667%; */
}

.fa.fa-user-circle{
    font-size: 24px;
    margin-left: 7px;
    margin-bottom: 15px;
}

.mat-dialog-container{
    padding: 0px !important;
}

.mat-list-base {
    padding-top: 0px !important;
}

.mat-sort-header-container{
    display:inline-flex !important;
    padding-top: 10px !important;
}

.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition.ng-tns-c13-85.ng-star-inserted{
    margin-left: 0px !important;
}

.mat-raised-button:not([class*=mat-elevation-z]){
    box-shadow: none !important;
}


