<div>
  <mat-card class="col-md-11" style="max-width: 96.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchAuditLog()">
        <div style="display: inline-flex;" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label" style="padding-right: 10px;">Action</label>
            <input formControlName="action" class="form-control" placeholder="Enter action">
          </div>

          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label" style="padding-right: 10px;">Modified By</label>
            <input formControlName="modifiedBy" class="form-control" placeholder="Enter modified by">
          </div>

          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label" style="padding-right: 10px;">Modified Date</label>
            <input type="date" formControlName="modifiedDate" class="form-control">
          </div>
        </div>
        <div class="form-group" class="searchFormBtns">
          <button type="reset" class="col-md-1" mat-raised-button class="searchBtn-close" (click)="cancelSearch()">
            Cancel
          </button>
          <button type="submit" style="margin-left: 15px;" class="col-md-1" mat-raised-button class="searchBtn-close">
            Search
          </button>
        </div>

      </form>
    </div>
  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="dataSource" matSort class="col-md-12">
      <!-- Audit Log Id Column -->
      <ng-container matColumnDef="auditLogId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Audit Log Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.audit_log_id}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.action | titlecase}} </mat-cell>
      </ng-container>

      <!-- Content Column -->
      <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Content </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
      </ng-container>

      <!-- Modified By Column -->
      <ng-container matColumnDef="modifiedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Modified By </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modifiedBy }} </mat-cell>
      </ng-container>

      <!-- Modified Date Column -->
      <ng-container matColumnDef="modifiedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Modified Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modifiedDate | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
</div>