<div>
  <mat-card class="col-md-11" style="max-width: 96.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchAuditLog()">
        <div style="display: inline-flex;" class="col-md-12">
          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label" style="padding-right: 10px;">Action</label>
            <input formControlName="action" class="form-control" placeholder="Enter action">
          </div>

          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label" style="padding-right: 10px;">Modified By</label>
            <input formControlName="modifiedBy" class="form-control" placeholder="Enter modified by">
          </div>

          <div class="col-md-4" style="display: inline-flex;">
            <label class="searchForm-label" style="padding-right: 10px;">Modified Date</label>
            <input type="date" formControlName="modifiedDate" class="form-control">
          </div>
        </div>
        <div class="form-group" class="searchFormBtns">
          <button type="reset" class="col-md-1" mat-raised-button id="searchBtn" (click)="cancelSearch()">
            Cancel
          </button>
          <button type="submit" style="margin-left: 15px;" class="col-md-1" mat-raised-button id="searchBtn">
            Search
          </button>
        </div>

      </form>
    </div>
  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table *ngIf="dataSource != null && dataSource.data.length > 0" [dataSource]="dataSource" matSort
      class="col-md-12">
      <!-- Audit Log Id Column -->
      <ng-container matColumnDef="auditLogId">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="display: flex;
        justify-content: flex-end;">
          <div style="display: inherit"> Audit Log Id
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('auditLogId',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('auditLogId',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: flex-end;
        padding-right: 13px;"> {{element.audit_log_id}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit; padding-left: 8px;">Action
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('action',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('action',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.action | titlecase}} </mat-cell>
      </ng-container>

      <!-- Content Column -->
      <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit; padding-left: 6px;">Content
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('content',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('content',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
      </ng-container>

      <!-- Modified By Column -->
      <ng-container matColumnDef="modifiedBy">
        <mat-header-cell *matHeaderCellDef class="tableHeader">
          <div style="display: inherit; padding-left: 3px;">Modified By
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('modifiedBy',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('modifiedBy',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modifiedBy }} </mat-cell>
      </ng-container>

      <!-- Modified Date Column -->
      <ng-container matColumnDef="modifiedDate">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="padding-right: 0px;">
          <div style="display: inherit"> Modified Date
            <i *ngIf="order; else descending" class="fa fa-sort-asc" aria-hidden="true"
              (click)="tableSort('modifiedDate',true)" style="padding-left: 5px;padding-top: 5px"></i>
            <ng-template #descending>
              <i class="fa fa-sort-desc" aria-hidden="true" (click)="tableSort('modifiedDate',false)"
                style="padding-left: 5px; "></i>
            </ng-template>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modifiedDate | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="dataSource == null || dataSource.data.length == 0">
      <h1 mat-dialog-title style="background: #02375f;color: white;">
        <div style="margin-left: 20px;padding-top: 5px;font-size: 15px;font-weight: 400;">
          <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: 7px;"></i>
          INFO!
        </div>
      </h1>
      <div mat-dialog-content
        style="padding-right: 0px; margin-right: 0px;font-weight: 400;margin-left: -5px;font-size: 14px;padding-left: 35px;">
        <p><i class="fa fa-exclamation" aria-hidden="true"></i> No records found</p>
      </div>

    </div>

    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
</div>